<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload de Áudio</title>
  <link rel="stylesheet" href="audio_transcriber/transcriber/static/style.css">

</head>
<body>
  <div class="container">
    <h1>Transcrever Áudio</h1>
    <form id="uploadForm">
      <label for="audioFile">Selecione o arquivo de áudio:</label>
      <input type="file" id="audioFile" name="audio" accept=".wav" required>
      <button type="submit">Enviar</button>
    </form>
    <div id="result"></div>
  </div>
  <script src="audio_transcriber/transcriber/static/script.js"></script>
</body>
</html>
